
.perdeu {
  color: #FF0000;
}

.ganhou {
  color: green;
}

/* -------------------------------- Alfabeto */

.letterDisabled {
  color: #798a9f;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  width: 40px;
  height: 40px;
  background-color: #9faab5;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
}

.letterEnabled {
  background: #e1ecf4;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  color: #39739d;
}