@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* app */

body {
  font-family: "Roboto", sans-serif;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------------------------------- Jogo */

.game {
  margin-top: 2%;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.game img {
  width: 35%;
}

.game input {
  width: 200px;
  height: 60px;
  background: #27ae60;
  border-radius: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.palavraGame div  {
  margin-top: 30%;
  font-family: "Noto Sans", sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  letter-spacing: 10px;
}

.palavraGame {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.perdeu {
  color: #FF0000;
}

.ganhou {
  color: green;
}

/* -------------------------------- Alfabeto */

.alphabet {
  margin: 2%;
  width: 702px;
  display: flex;
  flex-wrap: wrap;
}

.letterDisabled {
  color: #798a9f;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  width: 40px;
  height: 40px;
  background-color: #9faab5;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
}

.letterEnabled {
  background: #e1ecf4;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  color: #39739d;
}

/* -------------------------------- Chute */

.chute {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chute p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.chute input[type="text"] {
  width: 353px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin: 0 15px;
}

.chute input[value="Chutar"] {
  width: 100px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  background-color: #e1ecf4;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3c76a1;
}
